/* IMPORT FONTS */

@import url(font.css);

/* VARIABLES */
@import url(partials/_variables.css);

/* IMPORT FONTS */

/* NAVIGATION */

.top .main_menu .navbar{
    padding: 1rem 20rem;
}

.top .main_menu .nav-item .nav-link{
    font-family: var(--cabin);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title_color);
}

#active{
    background: var(--gradient_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.top .main_menu .nav-item .nav-link a :hover {
    background: var(--gradient_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* NAVIGATION */